*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html{
  font-size: 62.5%;
} */

.main-div{

  display: flex;
  background-color: rgb(125, 87, 168);
  justify-content: center;
 
  min-height: 100vh;
 
  padding: 20px;
}



.child-div{

  margin: 12px 0px;
  align-items: center;
  font-size: large;
}
  
img {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    margin: 0px auto ;  

    margin-bottom: 12px;
}
figcaption{
color: white;
font-weight: bold ;
display: flex;
justify-content: center;
margin: 0px auto ;  

margin-bottom: 12px;
}

.add-item{
  margin: 0px auto ; 
  width: fit-content; 

}

.add-item > input{

  border-radius: 6px;

  
  padding: 8px;
 
}


.add-btn {
  cursor: pointer;
} 
.add-btn:hover {
  cursor: pointer;
  color: rgb(144, 255, 149);
}

.showitem{
  margin: 10px 0px;

}

.eachitem{
  border: 2px solid brown ;
  background-color:rgb(207, 189, 255);
  border-radius: 6px;

  align-items: center;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin:2px 0px ;
  height: 80%;

  
  


}
.eachitem > h4{
  box-sizing: border-box;
  width:95%;
  padding: 2px 4px 2px 4px;
  padding: 0px 6px;
  color: purple;
  font-weight: bold;
}
.eachitem:hover{
  background-color:rgb(255, 255, 255);

}

.add-btn1 ,.add-btn2 {
  cursor: pointer; 
  margin: 0px 4px;
} 
.add-btn1:hover {
  cursor: pointer;
  color: rgb(185, 99, 99);
}
.add-btn2:hover {
  cursor: pointer;
  color: rgb(54, 196, 90);
}

.btn-rem{


  display: flex;
  justify-content: center;
  align-items: center;

 
}
.effect04:hover{
  background-color: purple;
  
}